@media (min-width: 600px){
    header{
        height: auto;
    }
    #order{
        display: flex;
    }
    #order img{
        justify-content: flex-start;
        width: 40%;
        margin: 50px 30px;
    }
    #order a{
        width: 35%;
        height: auto;
    }
    #order #titulo{
        width: 35%;
        display: flex;   
    }
    h2{
        margin: auto;
        font-size: 35px;
    }
    #order #pack{
        width: 30%;
    }
    #pack{
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    #pack h3{
        width: 70%;
        margin: auto;
    }
    #pack #search{
        width: 70%;
    }
    #pack #suscribe-front{
        width: 70%;
    }
    #burger-menu{
        display: none;
    }
    #nav-bar{
        display: flex;
        background-color: #fd345b;
        justify-content: center;
        border-bottom: 4px whitesmoke solid;
        padding: 10px 0;
    }
    #nav-bar ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #nav-bar li{
        list-style: none;
    }
    #nav-bar a{
       color: white;
       font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       font-weight: bolder;
       font-size: 20px;
       border-left: 1px whitesmoke solid;
       border-right: 1px whitesmoke solid;
       padding: 0px 8px;
       text-transform: uppercase;  
    }
    #nav-bar a:hover{
        color: royalblue;
    }
    #order2{
        display: flex;
    }
    .main-article{
        width: 60%;
        align-content: flex-start;
        margin-top: 3%;
        border-right: #fd345b 3px solid;
        border-bottom: none;
    }
    .secondary-articles{
        width: 40%;
        margin-top: 5%;
    }
    #news3{
        border-bottom: none;
    }
    .last-articles{
        border-top: #fd345b 3px solid;
        border-bottom: none;
    }
    .last-articles img{
        display: flex;
        width: 35%;
        height: auto;
        margin: 0%;
    }
    #container3{
        display: flex;
        justify-content: space-between;
    }
}